body {
    width:800px;
    margin:0 auto;
}

.title
{
    color: #900;
    text-align: center;
}

.main
{
    
}

.main > div {
    background-color: #01A9DB;
    border: 2px solid;
    border-radius: 10px;
    margin: 0 auto;
    padding: 15px;
}

#login
{
    width: 400px;
    height: 200px;
}

#login input {
    padding-left:3px;
    height: 20px;
    width: 100px;
    border: 1px solid;
    border-radius: 8px;
}

#login button {
    width: 65px;
}

#login .inner {
    width: 180px;
    margin: 0 auto;
    padding-top: 80px;
}

#application {
    border: 1px solid;
}

canvas#draw-canvas {
    background-color: white;
	border-style:solid;
	border-width:1px;
	border-color:black;
	float:left;
}

.chat-container {
    margin-left: 10px;
    width: 250px;
    float:left;
}

#message-container
{
    border: 1px solid;
    height: 438px;
    padding: 5px;
    margin-bottom:4px;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: white;
}

#chat-input
{
    border: 1px solid black;
    height: 20px;
    width: 248px;
}

.chat-container > button {
    margin: 0;
    margin-top: 4px;
    padding: 0;
    width: 49%;
}

.clearfloat {
    clear: both;
}